#### Data Engineering Exercise 2: Pyspark / SQL 
The Parking Citation Dataset is a puplic dataset collecting millions of records information about parking tickets for a county in California. We only selected a million of this data for us to work with in this assignment. You can see the whole dataset here: https://data.lacity.org/Transportation/Parking-Citations/wjz9-h9np/data

In this asssignment we want you to Extract data, Clean data, Create a report, and then the report as a new file. Steps are:

    1.  Read the parquet file written in First Assignemtn as a "Pyspark" DataFrame.
    2. Count number distinct values for each column
    3.  Count nulls in every column
    4.  Write a function to drop columns with more than 1% missing values
    5.  Impute missing values for "Fine_amount" column with "median" using "Imputer" package from Pyspark
    6.  Drop rows with at least two null values 
    7.  Extract values of a string column and create new columns based on thoes values 
    8. Create a broadcast variable stores the full names of states. Show a dataframe output showing the states full names. 

    Read the questions carefully and Export three reports based on them:
        9.  Create First report, then Export it as "Report_Make_State_Fine" 
        10.  Create Second Report, then Export it as "Report_HOND_2016"
        11. Create Third Report, then Export it as "Report_Parking_Fines_2016"

  
Here are some resources that you may need: 

    Pyspark =  https://sparkbyexamples.com/
   
Good luck!

##### IMPORTS

##### 1. Read the Parquet file written in First Assignment as a "Pyspark" DataFrame. Print the size of columns and rows of it.

In [ ]:
# read the parquet file from previous step

In [ ]:
# print size of the dataframe

##### 2. Count number distinct values for each column

##### 3. Count number of null in every column. Feel free to change the data types if needed.

##### 4. Write a function to drop columns with more than 1% missing values

In [ ]:
percent = 0.01
def drop_null_columns(df, percent):
    
    *** WRITE YOUR CODE TO complete the function ***
    
    return df, to_drop

df_spark, dropped_columns = drop_null_columns(df_spark, percent)

##### 5. Impute missing values for "Fine_amount" column with "median" using "Imputer" package from Pyspark

In [ ]:
# check the Fine_amount column datatype. You may need to change it to DoubleType()

In [ ]:
# use imputer package with Median

##### 6.  Drop "rows" with at least two null values

##### 7. Extract day and month from Issue_Date column and then drop the "Issue_Date", and "__index_level_0__" column (if exist)

In [ ]:
# extract day and month from Issue_Date column

In [ ]:
# Then drop the Issue_Date column, and "index_level_0" column (if exist)

#####8. Create a broadcast variable stores the full names of states. Show a dataframe output showing the states full names.

In [ ]:
##Dictionary of States
states = {
        'AK': 'Alaska', 'AL': 'Alabama','AR': 'Arkansas','AS': 'American Samoa','AZ': 'Arizona', 'CA': 'California',
'CO': 'Colorado','CT': 'Connecticut','DC': 'District of Columbia','DE': 'Delaware','FL': 'Florida','GA': 'Georgia','GU': 'Guam','HI': 'Hawaii','IA': 'Iowa','ID': 'Idaho','IL': 'Illinois','IN': 'Indiana',
'KS': 'Kansas','KY': 'Kentucky','LA': 'Louisiana','MA': 'Massachusetts','MD': 'Maryland',
'ME': 'Maine','MI': 'Michigan','MN': 'Minnesota','MO': 'Missouri','MP': 'Northern Mariana Islands','MS': 'Mississippi','MT': 'Montana','NA': 'National','NC': 'North Carolina','ND': 'North Dakota','NE': 'Nebraska',
'NH': 'New Hampshire','NJ': 'New Jersey','NM': 'New Mexico','NV': 'Nevada','NY': 'New York','OH': 'Ohio','OK': 'Oklahoma','OR': 'Oregon','PA': 'Pennsylvania','PR': 'Puerto Rico',
'RI': 'Rhode Island','SC': 'South Carolina','SD': 'South Dakota','TN': 'Tennessee','TX': 'Texas','UT': 'Utah','VA': 'Virginia','VI': 'Virgin Islands','VT': 'Vermont','WA': 'Washington','WI':'Wisconsin','WV': 'West Virginia','WY': 'Wyoming'
}

###create broadcast variable


###Display output of column with states full names.

### Read the questions below and Export three reports based on them:

##### 9. First Report:
Create a report table to get the Sum of "Fine_Amouns" for each State Plates ("RP_State_Plate" column) for each selected vehicle make company ("Make" column). 
The selected brands are: 

Make_Cars = ["ACUR", "AUDI", "DODG", "BMW", "BUIC", "CHEV", "CHRY", "NISS"
             ,"FIAT", "FORD", "GMC", "JEEP", "KIA", "VOLV", "TOYT", "SUBA", "MAZD"]

The final report should look like below:

![report_table.PNG](attachment:report_table.PNG)

In [ ]:
Make_Cars = ["ACUR", "AUDI", "DODG", "BMW", "BUIC", "CHEV", "CHRY", "NISS"
             ,"FIAT", "FORD", "GMC", "JEEP", "KIA", "VOLV", "TOYT", "SUBA", "MAZD"]

In [ ]:
# create the repoort

In [ ]:
# export the report a CSV with header and "|" deliminer. Name it as Report_Make_State_Fine.

##### 10. Second Report:
Filter the dataframe where Make = HOND and get a count of total violation descriptions per category in 2016

In [ ]:
# create the report

In [ ]:
# export the report as a CSV with header and "," deliminer. Name it as Report_HOND_2016.

##### 11. Third Report:
Create a new dataframe from the original dataset, drop everything before 2016 date, and only use the below columns:
keep_columns=['Ticket_number', 'RP_State_Plate', 'Make', 'Body_Style', 'Fine_amount']

In [ ]:
keep_columns=['Ticket_number', 'RP_State_Plate', 'Make', 'Body_Style', 'Fine_amount']

In [ ]:
# create the repoort

In [ ]:
# export the report as a CSV with header and "," deliminer. Name it as Report_Parking_Fines_2016.